* {
    box-sizing: border-box;
}

body {
    font-family: 'Vazirmatn', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background: #4a90e2;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.series-detail {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: #333;
}

p {
    font-size: 14px;
    color: #555;
}

.softsub, .dubbed {
    color: #ff0000;
    font-size: 16px;
}

.season-container {
    margin-top: 20px;
    display: none; /* به‌طور پیش‌فرض مخفی است */
}

.link-container {
    margin: 10px 0;
}

.link-container a {
    background: #4CAF50;
    color: white;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.link-container a:hover {
    background: #45a049;
}

.toggle-button {
    background: #4a98e2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.toggle-button:hover {
    background: #357ab8;
}

header {
    background: #4a90e2;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
}